---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import { getPermalink } from '~/utils/permalinks';
import { headerData } from '~/navigation';

const metadata = {
  title: 'Pere Joan Martorell',
};

const currentYear = new Date().getFullYear();
const experienceYears = currentYear - 2014;
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header {...headerData} isSticky showToggleTheme />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Pere Joan Martorell"
    tagline="Senior Software Engineer"
    actions={[{ variant: 'primary', text: 'Hire me', href: getPermalink('/contact') }]}
  >
    <Fragment slot="subtitle">
      I'm a seasoned Senior Software Engineer with over {experienceYears} years of experience. <br /> I specialize in Ruby/Rails, delivering high-performance, scalable applications that solve complex challenges. My expertise spans full lifecycle application development, from requirements gathering and design to deployment and long-term support, ensuring reliable and impactful solutions for businesses.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          text: 'LinkedIn',
          href: 'https://linkedin.com/in/pjmartorell',
        },
      },
      {
        icon: 'tabler:brand-twitter',
        callToAction: {
          text: 'Twitter',
          href: 'https://x.com/pjmartorell',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          text: 'GitHub',
          href: 'https://github.com/pjmartorell',
        },
      },
      {
        icon: 'tabler:brand-bluesky',
        callToAction: {
          text: 'Bluesky',
          href: 'https://bsky.app/profile/pjmartorell.dev',
        },
      },
      {
        icon: 'tabler:brand-stackoverflow',
        callToAction: {
          text: 'Stack Overflow',
          href: 'https://stackoverflow.com/users/960819/pere-joan-martorell',
        },
      }
    ]}
    image={{
      src: '~/assets/images/pere_joan_martorell.jpeg',
      alt: 'Pere Joan Martorell Calaf',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        I'm a passionate and experienced software engineer based in Barcelona. With a strong background in developing and architecting Rails projects, I have successfully led and contributed to various high-impact projects across different industries.
      </p>
      <br />
      <p>
        Over the years, I have honed my skills in Ruby on Rails, JavaScript, Astro, Docker, Kubernetes, and other modern technologies.
      </p>
      <br />
      <p>
        Beyond the realm of code, I find joy in exploring new technologies, contributing to open-source projects, and sharing my knowledge with the developer community. When I'm not immersed in the digital world, you can find me playing drums in a lively batucada called <a class="text-muted hover:underline" href="https://www.ketubara.org/" target="_blank">Ketubara</a>, hitting the padel courts, or sailing the Mediterranean waters. I'm also an avid tinkerer, experimenting with IoT devices, 3D printing, and various DIY projects.
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features3 Widget ************** -->

  <Features2
    title="Skills"
    subtitle="Discover the proficiencies that enable me to build robust and scalable web applications."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Ruby on Rails',
        description: 'Specialized in developing high-performance, scalable web applications.',
        icon: 'tabler:diamond-filled',
      },
      {
        title: 'API Integrations',
        description: 'Experienced in integrating various APIs and building microservices architecture.',
        icon: 'tabler:api',
      },
      {
        title: 'Cloud Infrastructure',
        description: 'Proven success in migrating legacy systems to modern, cloud-based infrastructures.',
        icon: 'tabler:cloud',
      },
      {
        title: 'Team Leadership',
        description: 'Skilled in leading cross-functional teams and mentoring developers.',
        icon: 'tabler:users',
      },
      {
        title: 'SaaS Platforms',
        description: 'Deep experience in building SaaS platforms for enterprise and startup projects.',
        icon: 'tabler:server',
      },
      {
        title: 'Full Lifecycle Development',
        description: 'Expertise in full lifecycle application development from design to deployment.',
        icon: 'tabler:code',
      },
      {
        title: 'JavaScript',
        description: 'Proficient in JavaScript and React.',
        icon: 'tabler:brand-javascript',
      },
      {
        title: 'Docker & Kubernetes',
        description: 'Skilled in containerization and orchestration using Docker and Kubernetes.',
        icon: 'tabler:brand-docker',
      },
      {
        title: 'PostgreSQL & Redis',
        description: 'Experienced in using PostgreSQL and Redis for data storage and caching.',
        icon: 'tabler:database',
      },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Lead Ruby on Rails Developer <br /> <span class="font-normal">Future Workshops, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">01/04/2019 – CURRENT</span>',
        description: `<strong>Tech Stack:</strong> Ruby, Ruby on Rails, Redis, Nginx, Puma, PostgreSQL, Basecamp + Shape Up, Bitrise, Heroku, Azure, Git, Github Actions, Docker, Kubernetes, Postman, Jira.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Ruby on Rails Developer <br /> <span class="font-normal">Camaloon, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">05/2016 – 11/2017</span>',
        description: `<strong>Tech Stack:</strong> Ruby, Ruby on Rails, Javascript, AngularJS, Fabric.js, Redis, Memcached, PostgreSQL, Jira.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Lead Developer <br /> <span class="font-normal">Sagaci Research, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">02/2016 – 10/2017</span>',
        description: `<strong>Tech Stack:</strong> PHP, Laravel 5, AWS (Amazon Elastic Beanstalk†, Amazon RDS, Amazon EC2, Amazon S3, AWS CodeCommit), HTML5, CSS3, JS.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Ruby on Rails Backend Developer <br /> <span class="font-normal">Playful Gaming, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">09/2013 – 11/2014</span>',
        description: `<strong>Tech Stack:</strong> Ruby on Rails, Redis, Memcached, ElasticSearch, Semaphore CI.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Ruby on Rails / PHP Developer <br /> <span class="font-normal">Freelance, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">04/2011 – 10/2011</span>',
        description: `<strong>Tech Stack:</strong> Ruby on Rails, Amazon S3, Heroku, PHP, HTML, CSS, JS.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Ruby on Rails - IT Engineer <br /> <span class="font-normal">Itnig, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">07/2010 – 09/2010</span>',
        description: `<strong>Tech Stack:</strong> Ruby on Rails, HTML, CSS, JS.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Kubernetes Mastery: Hands-On Lessons from a Docker Captain <br /> <span class="font-normal">Udemy</span> <br /> <span class="text-sm font-normal">20/10/2020 – 11/2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Docker Mastery: With Kubernetes +Swarm from a Docker Captain <br /> <span class="font-normal">Udemy</span> <br /> <span class="text-sm font-normal">15/10/2020 – 11/2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Convolutional Neural Networks <br /> <span class="font-normal">Coursera</span> <br /> <span class="text-sm font-normal">10/2018</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Structuring Machine Learning Projects <br /> <span class="font-normal">Coursera</span> <br /> <span class="text-sm font-normal">01/2018</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Improving Deep Neural Networks: Hyperparameter Tuning, Regularization and Optimization <br /> <span class="font-normal">Coursera</span> <br /> <span class="text-sm font-normal">12/2017</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Neural Networks and Deep Learning <br /> <span class="font-normal">Coursera</span> <br /> <span class="text-sm font-normal">12/2017</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Lifelong Learning Erasmus Programme <br /> <span class="font-normal">Universität Leipzig - Fakultät für Mathematik und Informatik, Leipzig, Germany</span> <br /> <span class="text-sm font-normal">2012 – 2013</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Degree in Informatics Engineering <br /> <span class="font-normal">UPC - BarcelonaTech, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">2004 – 2012</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />
</Layout>
