---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Porfolio', href: '#porfolio' },
        { text: 'Blog', href: '#blog' },
        { text: 'Github', href: 'https://github.com/onwidget' },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Sarah Johnson"
    tagline="Personal Web Demo"
    actions={[{ variant: 'primary', text: 'Hire me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      I'm a Graphic Designer passionate about crafting visual stories. <br /> With 5 years of experience and a degree from
      New York University's School of Design. I infuse vitality into brands and designs, transforming concepts into captivating
      realities.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          text: 'LinkedIn',
          href: 'https://linkedin.com/in/pjmartorell',
        },
      },
      {
        icon: 'tabler:brand-twitter',
        callToAction: {
          text: 'Twitter',
          href: 'https://x.com/pjmartorell',
        },
      },
      {
        icon: 'tabler:brand-github',
        callToAction: {
          text: 'GitHub',
          href: 'https://github.com/pjmartorell',
        },
      },
      {
        icon: 'tabler:brand-bluesky',
        callToAction: {
          text: 'Bluesky',
          href: 'https://bsky.app/profile/pjmartorell.bsky.social',
        },
      },
      {
        icon: 'tabler:brand-stackoverflow',
        callToAction: {
          text: 'Stack Overflow',
          href: 'https://stackoverflow.com/users/960819/pere-joan-martorell',
        },
      }
    ]}
    image={{
      src: '~/assets/images/pere_joan_martorell.jpeg',
      alt: 'Pere Joan Martorell Calaf',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        I'm a passionate and experienced Lead Ruby on Rails Developer based in Barcelona, Spain. With a strong background in developing and architecting Rails projects, I have successfully led and contributed to various high-impact projects across different industries.
      </p>
      <br />
      <p>
        Over the years, I have honed my skills in Ruby on Rails, JavaScript, Docker, Kubernetes, and other modern technologies.
      </p>
      <br />
      <p>
        I have had the privilege of working with esteemed organizations such as Future Workshops, Camaloon, Sagaci Research, and Playful Gaming. My roles have ranged from developing supply chain management systems to migrating legacy applications and mentoring fellow developers.
      </p>
      <br />
      <p>
        In addition to my professional experience, I am committed to continuous learning and have completed various courses on Kubernetes, Docker, and machine learning from platforms like Udemy and Coursera.
      </p>
      <br />
      <p>
        Outside of work, I enjoy exploring new technologies, contributing to open-source projects, and sharing my knowledge with the developer community.
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Lead Ruby on Rails Developer <br /> <span class="font-normal">Future Workshops, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">01/04/2019 – CURRENT</span>',
        description: `Architected and implemented several Rails projects, including AppRail, MoFa Biometrics Self-Enrolment, NHS SpeakUp, Riyadh Airports, and IBM Datacap. Mentored and supported other Ruby/Rails developers. Contributed to several Ruby gems.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Ruby on Rails Developer <br /> <span class="font-normal">Camaloon, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">05/2016 – 11/2017</span>',
        description: `Developed a Supply Chain Management system using Cuba, built integrations for several carriers, designed a cross-selling feature, and implemented a new flow with batch actions to integrate and ship orders in the in-house factory.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Lead Developer <br /> <span class="font-normal">Sagaci Research, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">02/2016 – 10/2017</span>',
        description: `Migrated pure PHP web application to Laravel 5, designed and modelled a new database schema, and deployed web app via AWS.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Ruby on Rails Backend Developer <br /> <span class="font-normal">Playful Gaming, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">09/2013 – 11/2014</span>',
        description: `Designed, developed and tested new backoffice features, increased test coverage, fixed concurrency-related issues, and extended and documented the API of our Android mobile app.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Ruby on Rails / PHP Developer <br /> <span class="font-normal">Freelance, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">04/2011 – 10/2011</span>',
        description: `Designed, developed and maintained a website for a client, migrated and secured a vulnerable Joomla website, and developed a SPA for a client.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Ruby on Rails - IT Engineer <br /> <span class="font-normal">Itnig Solutions, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">07/2010 – 09/2010</span>',
        description: `Undertook support responsibilities as a front-end developer, enhanced the company’s website and project management tool, and optimized the design, usability and accessibility of client websites.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Kubernetes Mastery: Hands-On Lessons from a Docker Captain <br /> <span class="font-normal">Udemy</span> <br /> <span class="text-sm font-normal">20/10/2020 – 11/2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Docker Mastery: With Kubernetes +Swarm from a Docker Captain <br /> <span class="font-normal">Udemy</span> <br /> <span class="text-sm font-normal">15/10/2020 – 11/2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Convolutional Neural Networks <br /> <span class="font-normal">Coursera</span> <br /> <span class="text-sm font-normal">10/2018</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Structuring Machine Learning Projects <br /> <span class="font-normal">Coursera</span> <br /> <span class="text-sm font-normal">01/2018</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Improving Deep Neural Networks: Hyperparameter Tuning, Regularization and Optimization <br /> <span class="font-normal">Coursera</span> <br /> <span class="text-sm font-normal">12/2017</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Neural Networks and Deep Learning <br /> <span class="font-normal">Coursera</span> <br /> <span class="text-sm font-normal">12/2017</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Lifelong Learning Erasmus Programme <br /> <span class="font-normal">Universität Leipzig - Fakultät für Mathematik und Informatik, Leipzig, Germany</span> <br /> <span class="text-sm font-normal">2012 – 2013</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Degree in Informatics Engineering <br /> <span class="font-normal">UPC - BarcelonaTech, Barcelona, Spain</span> <br /> <span class="text-sm font-normal">2004 – 2012</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Explore the skills that enable me to build robust and scalable web applications."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Ruby on Rails',
        description: 'Specialized in developing high-performance, scalable web applications.',
      },
      {
        title: 'API Integrations',
        description: 'Experienced in integrating various APIs and building microservices architecture.',
      },
      {
        title: 'Cloud Infrastructure',
        description: 'Proven success in migrating legacy systems to modern, cloud-based infrastructures.',
      },
      {
        title: 'Team Leadership',
        description: 'Skilled in leading cross-functional teams and mentoring developers.',
      },
      {
        title: 'SaaS Platforms',
        description: 'Deep experience in building SaaS platforms for enterprise and startup projects.',
      },
      {
        title: 'Full Lifecycle Development',
        description: 'Expertise in full lifecycle application development from design to deployment.',
      },
      {
        title: 'JavaScript & Frameworks',
        description: 'Proficient in JavaScript and its frameworks like React and Angular.',
      },
      {
        title: 'Docker & Kubernetes',
        description: 'Skilled in containerization and orchestration using Docker and Kubernetes.',
      },
      {
        title: 'PostgreSQL & Redis',
        description: 'Experienced in using PostgreSQL and Redis for data storage and caching.',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Elevating visual narratives"
    subtitle="Embark on a design journey that surpasses pixels, entering a realm of imagination. Explore my portfolio, where passion and creativity converge to shape enthralling visual narratives."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Developed a comprehensive brand identity for a tech startup, Tech Innovators, specializing in disruptive innovations. The goal was to convey a modern yet approachable image that resonated with both corporate clients and tech enthusiasts.',
      },
      {
        title: 'Role:',
        description:
          'Led the entire branding process from concept to execution. Created a dynamic logo that symbolized innovation, selected a vibrant color palette, and I designed corporate stationery, website graphics, and social media assets.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1: <br /><span class="text-2xl">Brand identity for tech innovators</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description:
          'Designed a captivating event poster for an art and music festival, "ArtWave Fusion," aiming to showcase the synergy between visual art and music genres.',
      },
      {
        title: 'Role:',
        description: `Translated the festival's creative theme into a visually striking poster. Used bold typography, vibrant colors, and abstract elements to depict the fusion of art and music. Ensured the design captured the festival's vibrant atmosphere.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1619983081563-430f63602796?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Art and Music Poster Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2: <br /><span class="text-2xl">Event poster for art & music festival</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Redesigned the e-commerce website for an eco-conscious fashion brand, GreenVogue. The objective was to align the brand's online presence with its sustainable ethos and improve user experience.`,
      },
      {
        title: 'Role:',
        description: `Conducted a thorough analysis of the brand's values and customer base to inform the design direction. Created a visually appealing interface with intuitive navigation, highlighting sustainable materials, and integrating a user-friendly shopping experience.`,
      },
    ]}
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1683288295841-782fa47e4770?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Fashion e-commerce Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: '#',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3: <br /><span class="text-2xl">E-commerce website redesign for fashion brand</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
